/*
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

/* Navegación principal */
.bg-purple { 
    background-color: #660066;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

/* Hero section */

header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;   
}

@media (max-width: 640px) { 
    .carousel-item img {
        -webkit-transform:translate(-30%, 0%);
        -moz-transform:translate(-30%, 0%);
        -ms-transform:translate(-30%, 0%);
        -o-transform:translate(-30%, 0%);
        transform:translate(-30%, 0%);
    } 
}