/*
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

body {
    color: #373A3C;
    font-family: 'Open Sans', sans-serif;
}

.titulos {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
}

/* Navegación principal */
.bg-purple { 
    background-color: #660066;
}

.logo {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.logo hr {
    display: block;
    height: 1px;
    background-color: #373A3C;
    width: 115px;
}

/* Hero section */

header h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;   
}

/* #sobre-mi */

#sobre-mi h2{
    font-size: 1.55em;
    line-height: 50px;
    font-weight: 600;
}

#sobre-mi hr{
    width: 115px;
    height: 1px;
    background-color: #373A3C
}

#sobre-mi p {
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
}


@media (max-width: 640px) { 
    .carousel-item img {
        -webkit-transform:translate(-30%, 0%);
        -moz-transform:translate(-30%, 0%);
        -ms-transform:translate(-30%, 0%);
        -o-transform:translate(-30%, 0%);
        transform:translate(-30%, 0%);
    } 
}

/* #experiencia */

#experiencia h3, #experiencia p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.55em;
}

#experiencia i {
    color: #660066;
}

#experiencia .carousel-indicators {
    bottom: -45px; 
}

.carousel-indicators li {
    background-color: #660066;
}

/* #experiencia */

.card {
    border: none;
}

.card:hover .card-title, .card:hover .card-text{
    color: #660066;
    cursor: pointer;
}

.card:hover img{
    cursor: pointer;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.45em;  
}

.card-text {
    font-size: 1em;
}